<p id="notice"><%= notice %></p>

<h1>Listing Credit Card Charges</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Created</th>
      <th>Paid</th>
      <th>Amount</th>
      <th>Currency</th>
      <th>Refunded</th>
      <th>Disputed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @credit_card_charges.each do |credit_card_charge| %>
      <tr>
        <td><%= credit_card_charge.id %></td>
        <td><%= credit_card_charge.created %></td>
        <td><%= credit_card_charge.paid %></td>
        <td><%= credit_card_charge.amount %></td>
        <td><%= credit_card_charge.currency %></td>
        <td><%= credit_card_charge.refunded %></td>
        <td><%= credit_card_charge.disputed %></td>
        <td><%= link_to 'Show', credit_card_charge %></td>
        <td><%= link_to 'Edit', edit_credit_card_charge_path(credit_card_charge) %></td>
        <td><%= link_to 'Destroy', credit_card_charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Credit card charge', new_credit_card_charge_path %>
