<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @credit_card_charge.id %>
</p>

<p>
  <strong>Created:</strong>
  <%= @credit_card_charge.created %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @credit_card_charge.paid %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @credit_card_charge.amount %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @credit_card_charge.currency %>
</p>

<p>
  <strong>Refunded:</strong>
  <%= @credit_card_charge.refunded %>
</p>

<p>
  <strong>Disputed:</strong>
  <%= @credit_card_charge.disputed %>
</p>

<%= link_to 'Edit', edit_credit_card_charge_path(@credit_card_charge) %> |
<%= link_to 'Back', credit_card_charges_path %>
